#header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
}
#logo img {
    width: 200px;
}

#top-nav{
    background-color: yellow;
    padding: 5px;
    display: flex;
    gap: 20px;
}

#logo {
    background-color: aqua;
}